/** @format */
/* font-family: 'Poppins', sans-serif; 
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;*/
:root {
  --primary-color: #63c7ff;
  --secondary-color: #f6fdff;
  --text-color: rgb(117, 117, 117);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.185);
}
h1 {
  color: silver;
  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-weight: 700;
  line-height: 127.97px;
  padding: 20px 0;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: var(--text-color);
  padding-bottom: 40px;
}
h3 {
  color: var(--text-color);
  font-weight: 700;
}

h4 {
  text-align: center;
  padding-top: 80px;
  font-size: 36px;
  color: var(--text-color);
}
brand {
  color: var(--text-color);
}
footer {
  text-align: center;
  padding-top: 10px;
}
.bottom-footer {
  padding: 50px 0;
}
.certificates {
  padding-top: 30px;
}
.contact-footer-button {
  padding: 35px 0;
}
.dropdown-menu {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
}
.footer-mail-link {
  text-decoration: none;
  color: var(--text-color);
}
.header-overview-projects {
  padding-bottom: 15px;
}
.hero {
  background: #f6fdff;
  text-align: center;
}
.hero-button-links {
  padding-top: 80px;
  padding-bottom: 170px;
}
.hero-p {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  padding-top: 120px;
  color: var(--text-color);
}
.hero-primary-link {
  margin-right: 20px;
}
.hero-secondary-link {
  margin-left: 20px;
}
.inquiry-footer {
  display: block;
  margin: 0 auto;
  background: var(--secondary-color);
  padding: 10px 0;
  border-radius: 15px;
  max-width: 90%;
}
.inquiry-text {
  padding-top: 15px;
}
.launch-project {
  padding-top: 50px;
}
.navbar-brand {
  padding-left: 30px;
}
.navbar-collapse {
  padding-right: 30px;
}
.nav-bar-container {
  background: #f6fdff;
}
.overlook-of-projects {
  padding: 80px 0;
}
.primary-link {
  border-radius: 10px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  transition: all 200ms ease-in-out;
}
.primary-link:hover {
  color: var(--text-color);
}
.project-overwiew-container {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 10px;
  max-width: 60%;
}
.project-overview-description {
  border: 1px solid transparent;
  border-radius: 30px;
}
.project-overview-images {
  border: 10px solid var(--secondary-color);
  border-radius: 30px;
}
.secondary-link {
  border-radius: 10px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: all 200ms ease-in-out;
}
.secondary-link:hover {
  color: var(--text-color);
}
.text-align {
  text-align: center;
}
@media (min-width: 1300px) {
  .project-overview-description {
    border: 80px solid transparent;
    border-radius: 30px;
  }
  .project-overview-images {
    border: 50px solid var(--secondary-color);
    border-radius: 30px;
  }
  .inquiry-footer {
    max-width: 70%;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 50px;
    padding-top: 120px;
  }
  h2 {
    font-size: 35px;
    margin: 0 20px;
  }
  h3 {
    font-size: 18px;
    text-align: center;
  }
  .email-link {
    font-size: 20px;
  }
  .inquiry-footer {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 96%;
  }
  .launch-button {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .project-overview-description {
    border: 5px solid transparent;
  }
  .project-overview-images {
    border: none;
  }
  .sub-heading,
  .phone-display {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
