/** @format */
/* font-family: 'Poppins', sans-serif; 
font-family: 'Open Sans', sans-serif;*/

h1 {
  color: silver;
  font-family: "Poppins", sans-serif;
}

.hero {
  background: #f6fdff;
  text-align: center;
}
.nav-bar-container {
  background: #f6fdff;
}
